body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    display: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.section {
    padding: 80px 20px;
    text-align: center;
}

/* FOOTER */
.footer {
    background: black;
    padding: 10px;
    text-align: center;
}

.social {
    margin: 0 10px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* MOBILE POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 2000;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 80%;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    float: right;
    font-size: 25px;
    background: none;
    border: none;
}

.pop-item {
    display: block;
    margin: 15px 0;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}
